.container-fluid {
  width: 100%;
  height: 100%;
  background: white;
  color: #606061;

  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
}

.workspace-form {
  padding: 20px;
}

.workspace-form input {
  border: none;
  outline: none;
  border-bottom: 2px solid #222222;
  border-radius: 0;
  color: #606061;
  font-family: 'Open Sans', sans-serif;
  transition: border-bottom 0.5s ease;
  display: block;
  width: 100%;
  padding: 10px;
}

.workspace-form input:focus {
  border-bottom: 2px solid #e45d0e;
}

.gray-text {
  color: #828283;
}

a {
  color: #e45d0e!important;
}

.clean-cache {
  position: absolute;
  bottom: 68px;
  left: 102px;
}
.submit {
  position: absolute;
  bottom: 68px;
  right: 102px;
}
.btn-gradient {
  color: white!important;
  background:linear-gradient(-90deg, rgb(249, 212, 35) 0%, rgb(230, 92, 0) 80%)!important;
}
