@import "palette";

.region-label {
  position: absolute;
  top: -15px;
  color: white;
  font-size: 10px!important;
  left: -$border-radius;
  text-transform: uppercase;
  font-family: "AvenirNextDemiBold", sans-serif !important;
  border-radius: $border-radius $border-radius 0 0;
}

.region-label.aws {
  border-left: $border-radius solid $aws;
  border-right: $border-radius solid $aws;
  background: $aws;
}

.region-label.azr {
  border-left: $border-radius solid $azr;
  border-right: $border-radius solid $azr;
  background: $azr;
}

.ssm-card {
  border-radius: 4px;
  background: white;
  color: #707070;
  font-size: 12px;
  padding: 9px;
  border-bottom: 1px solid #acacac;
  height: 50px;
  margin: 5px 0;

  button {
    font-size: 12px;
    float: right;
  }
}

b {
  font-family: "AvenirNextDemiBold", sans-serif!important;
}

.account-cards {
  height: 478px;
  margin: 0!important;
  overflow: auto;
  width: 100%;
}

.session-card {
  width: 100%;
  background: $light-color;
  text-align: left;
  position: relative;
  transition: all 0.4s ease;
  color: $text-color;
  border-radius: 0 $border-radius $border-radius $border-radius;
  margin: 0 0 20px;
  cursor: pointer;
  font-size: 13px;

  .information {
    padding: 10px 0 10px 10px;
    display: inline-block;
    width: 52%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85em;
  }
  .information-profile {
    padding: 10px 0 10px 20px;
    display: inline-block;
    width: 26%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.85em;
  }
  .information-offset {
    padding: 10px;
    display: inline-block;
    width: 12%;
    margin-left: 41px;
    float: right;
    height: 42px;
  }

  .drop-list-container {
    padding: 4px 10px 3px;
    background: $main-color-light;
    border-radius: $border-radius;
    position: absolute;
    right: 52px;
    top: 8px;
    font-size: 14px;

    i {
      color: $white-text-color;
    }
  }

  .button-area {
    a {
      display: inline-block;
      width: 27px;
      height: 27px;
      border-radius: 15px;
      border: 1px solid white;
      margin-left: 5px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }

    span {
      cursor: pointer;
    }
  }

  .button-area-2 {

    a {
      display: inline-block;
      width: 27px;
      height: 27px;
      border-radius: 15px;
      border: 1px solid white;
      margin-left: 5px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }

    span {
      cursor: pointer;
    }
  }

  span { font-size: 14px;
    b {
      font-weight: 700;
      font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    }
  }
  h1 { font-size: 20px; }
  h3 { font-size: 12px; }
  h4 { font-size: 10px; }

}

.session-card.aws {
  border-left: 5px solid $aws;
}
.session-card.azr {
  border-left: 5px solid $azr;
}

.session-card:hover {
  background: $focused-element;
}

.session-card.aws.active {
    border-top: 1px solid $aws;
    border-bottom: 1px solid $aws;
    border-right: 1px solid $aws;
  }

.session-card.azr.active {
  border-top: 1px solid $azr;
  border-bottom: 1px solid $azr;
  border-right: 1px solid $azr;

}

.status-item {
  position: absolute;
  right: 12px;
  font-size: 10px;
  top: 18px;
  color: #DAE7E7;
}

.session-card.aws .status-item.active {
  color: $aws
}

.session-card.azr .status-item.active {
  color: $azr
}

#drop-list {
  background: $white-text-color;
  border-radius: $border-radius;
  padding: 15px;

  a {
    color: $text-color;
    display: block!important;
    transition: all 0.3s ease;
    padding: 6px;
  }

  a:hover {
    display: block!important;
    background: $focused-element;
  }
}

.ssm-ul {
  overflow-y: auto;
  height: 300px;
}
