<a class="close-modal" (click)="close()"><i class="moon-Close"></i></a>
<h4>{{title || 'Input a value' }}</h4>

<div class="content">
  <div [innerHTML]="message" class="message"></div>
  <br>

  <form [formGroup]="form" class="form center-vertical text-left">
    <div class="form-container">
      <div class="form-group">
        <div class="form-field">
          <div class="form-group">
            <label>{{placeholder}}<span class="danger-text">*</span></label>
            <input #inputField formControlName="value" type="text" class="form-control" placeholder="{{placeholder}}" (keyup.enter)="checkAndConfirm();" autofocus>
            <small class="text-error" *ngIf="(form.controls['value'].dirty || form.controls['value'].touched) && form.controls['value'].errors">Insert a value</small>
          </div>
        </div>
      </div>
    </div>
  </form>

  <button (click)="confirm();" class="btn-control btn-right-margin">{{confirmText || 'Confirm'}}</button>
  <a (click)="close();">{{cancelText || 'Cancel'}}</a>
</div>
