<img src="assets/images/fake_blur.png" class="fake-blur"  alt="" />
<div class="background">
    <div class="container-fluid">
      <h1><a (click)="goBack()" class="back-link"><i class="fa fa-arrow-left"></i></a><i class="fa fa-link"></i> Integration</h1>
      <br>
      <div>
        <label>My integration type is: <i class="fa fa-circle-info" tooltip="integration is a way to obtain credential to access services"></i></label><br>
        <div class="integration-button" (click)="goToSSO();">AWS Single Sign-On</div>
      </div>

    </div>
</div>
