<img src="assets/images/fake_blur.png" class="fake-blur"  alt="" />
<div class="background">
    <div class="container-fluid">
      <h1><a (click)="goBack()" class="back-link"><i class="fa fa-arrow-left"></i></a><i class="fa fa-link"></i> Integration</h1>

      <div class="integration-button" (click)="goToSSO();">
        <i class="fa fa-fingerprint"></i>
        <span>Identity Provider</span>
        <br>
        <p>
          Go take a coffee and we will fill sessions from your AWS SSO profile,
          we are checking all the possible roles you can access to.
        </p>
      </div>

      <br>

      <p class="more-coming">More integrations coming soon.</p>
    </div>
</div>
