@import "palette";
@import "../../../assets/scss/mixins/utility";

.container-fluid {
  background: white;
  color: $text-color;
  font-family: "AvenirNext", "Open Sans", sans-serif;
  padding: 0 25px;

  position: fixed;
  left: 0;
  transition: left 0.3s ease;
  bottom: 0;
  top: 0;

  .pull-right {
    position: absolute;
    right: 25px;
    bottom: 25px;
  }

  .link-wiki { color: #73E0CF; }

  .pull-left {
    position: absolute;
    left: 25px;
    bottom: 25px;
  }

  .pull-center {
    display: inline-block;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 188px;
  }

  h1 {
    margin: 20px auto 10px auto;

    font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: $text-color;
    text-align: center;
    display: block;
  }

  h2 {
    font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    text-align: center;
    display: block;
    background: $white-text-color;
    position: relative;
    top: 8px;
  }
  h2:before {
    position: relative;
    top: 8px;
    float: left;
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background: $main-color-light;
  }
  h2:after {
    position: relative;
    top: 8px;
    float: right;
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background: $main-color-light;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    font-family: "AvenirNext", "Open Sans", sans-serif;
    color: $text-color;
  }
  p.smaller {
    font-size: 12px;
    margin-bottom: 2px;
  }

  label {
    font-size: 12px;
    font-weight: bold;
    font-family: "AvenirNextBold", "Open Sans", sans-serif;
    color: $text-color;
  }

  button {
    background-color: #73E0CF;
    color: #080B38;
    border-radius: 4px;
    border: 2px solid #73E0CF!important;

    font-family: "Lato", "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;

    transition: all 0.3s ease;

    min-width: 160px;
    padding: 10px;
  }
  button:hover {
    background-color: transparent;
    color: #73E0CF;
    border: 2px solid #73E0CF!important;
  }
  button.disabled {
    background: $light-grey;
    color: $charcoal-grey;
    border: 2px solid $charcoal-grey!important;
  }

  .providers {
    display: inline-block;
    width: 100%;
    padding: 7px 10px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    min-width: auto;

    font-size: 12px;
    font-family: "AvenirNext", "Open Sans", sans-serif;
    color: $text-color;

    border-radius: 4px;

    transition: all 0.3s ease;

    background: $focused-element;
    border: 2px solid $main-color-light;
  }
  .providers.extended {
    margin: 0;
    padding: 10px;
    height: 42px;
    background: $focused-element;
    border: 2px solid $main-color-light!important;
    animation-iteration-count: 1;
  }
  .providers.hide {
    display: none;
  }
  .providers.disabled {
    background: $light-grey;
    color: $charcoal-grey;
    border: 2px solid $charcoal-grey!important;
    top: -5px;
    position: relative;
  }
  .providers.selected {
    background: $focused-element;
    border: 2px solid $main-color-light!important;
  }
  .back {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    color: $text-color;
  }
  .note {
    font-size: 10px;
    font-weight: normal;
    font-family: "AvenirNext", "Open Sans", sans-serif;
    color: $text-color;
    margin-top: 10px;
  }
  .correct-top {
    margin-top: 4px;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;

    .providers {
      margin: 0 8px 0 0;
    }
  }
  .correct-top-second-step {
    display: flex;
    justify-content: space-between;
  }
  .second-step-fix {
    margin-bottom: 9px;
  }
  .back-link {
    text-decoration: none;
    color: $text-color;
    cursor: pointer;
    i {
      position: relative;
      left: 0;
      color: $text-color;
      font-size: 20px;
    }
  }
  .back-link:hover {
    i {
      animation: moving 0.3s normal forwards ease-in-out;
    }
  }
}

@keyframes moving {
  from { left: 0; }
  to { left: -10px; }
}
