html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 100%;
}

* {
  font-family: 'AvenirNext', 'Open Sans', sans-serif;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.dragger {
  position: fixed;
  top: 0;
  left:  0;
  right:  0;
  height: 20px;
  background: #f8f8f8;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.flex-container {display: flex; justify-content: center; flex-wrap: wrap; align-content: center; align-items: center}
.between {justify-content: space-between}
.column {flex-direction: column}
.page-container {height: 100vh}



.btn-default {
  min-width: 94px;
  font-weight: 400;
  transition: all 0.3s ease;
  background: #dddddd;
}

.customerly-container {
  display: none!important;
}

.btn.focus, .btn:focus, a.focus, :focus {
  outline: 0;
  box-shadow: none;
}

.btn:hover {
  filter: brightness(95%);
}

.btn.focus, .btn:focus, .btn:active {
  /*animation: mover 1s;
  animation-interation-count: 1;*/
}

@keyframes mover {
  0% { transform: translateY(0); }
  50% { transform: translateY(4px); }
  100% { transform: translateY(0px); }
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
  background: rgba(255, 188, 26, 0.17)!important;
  font-weight: bold!important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: white;
  color: #333;
}

.danger-text {
  color: $danger-color;
}
.max-width { width: 100%; }


.round-btn { cursor: pointer; background: white; width: 50px; height: 50px; border-radius: 25px; box-shadow: 0 0 47px -13px rgba(0, 0, 0, 0.37); transition: all 0.3s ease; display: flex; align-items: center; justify-content: center; border: 0; padding: 0!important; }
.round-btn:hover { opacity: 0.8; box-shadow: 0 0 47px -15px rgba(0, 0, 0, 0.37); }
.round-btn img { width: 34px; display: flex; }

.pull-right { float: right; }

ul.cards { overflow-y: auto; list-style: none; height: 55vh; padding: 0; }
ul.cards li {
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 10px 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 11px -4px rgba(0, 0, 0, 0.2);
}

select { font-size: 12px!important; color:#707070; }
input { font-size: 12px!important; color: #707070; }
input::placeholder { font-size: 12px; color: #e8e8e8; }
.text-error { color: #d64123!important; }
.pull-right button { position: relative; bottom: 4px; margin-left: 6px; }

button small {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 12px;
  border-radius: 4px;
  background: #fd9d20;
  color: white;
  font-size: 8px;
  top: 15px;
  left: -7px;
}

button.small-btn {
  display: block;
  width: 100%;
  min-width: auto!important;
  height: 36px;
  margin: 35px 0!important;
  font-size: 14px!important;
  padding: 5px!important;
  color: white;
}
button.small-btn:hover {
  color: #73E0CF;
}

button.xs-btn {
  display: inline-block;
  min-width: auto!important;
  height: 36px;
  width: 36px;
  margin: 10px 0 0 8px!important;
  font-size: 14px!important;
  padding: 5px!important;
}
button.xs-btn:hover {
  color: #73E0CF;
}

label { font-size: 12px; }

hr { margin: 0 5px; }

.pointer { cursor: pointer; }

.modal-dialog {
  margin-top: 20px!important;
}

body.modal-open .background {
  filter: blur(6px)!important;
}

.container-fluid {
  position: relative;
  left: 0;
  transition: left 0.3s ease;
}
.header-content {
  left: 0;
  transition: left 0.3s ease;
}

body.moved .container-fluid { left: 200px; }
body.moved .header-content { left: 227px; }
body .mask { display: none; }
body.moved .mask { display: block; opacity: 0; position: fixed; z-index: 1000; left: 200px; top: 90px; right: 0; bottom: 0; }

.modal-header {
  border: none!important;
}

.modal-dialog.ssm-modal {
  margin: 0!important;
  height: 100vh;

  .modal-header {
    background: transparent;
    display: block;
    border-bottom: 0!important;
    padding: 40px 20px 10px;
    font-family: "AvenirNextBold", "Open Sans", sans-serif;

    .back, .modal-title { display: inline-block; }
    .back {
      border: none!important;
      outline: none;
      background: transparent;
      margin: 10px;
      padding: 0;
      width: auto;
      min-width: auto;
    }
  }

  .modal-content {
    height: 100vh;
    background-color: rgba(255,255,255,0.7);

    b {
      font-size: 14px;
      font-family: "AvenirNextBold", "Open Sans", sans-serif;
    }

    ul { list-style: none; margin: 0; padding: 0; }

    .loader {
      margin: 20px auto;
      text-align: center;
    }

    .list-of-ssm {
      margin-top: 5px;
    }

    li {
      height: 43px;

      span {
        display: inline-block;
        margin-top: 3px;
      }

      button {
        background: $main-color-light;
        color: $white-text-color;
        padding: 3px 10px;
        display: inline-block;
        float: right;
      }
    }
  }
}

ul li div.removed-sessions {
  text-align: left!important;
  overflow-x: hidden!important;
  text-overflow: ellipsis!important;
}
