$charcoal-grey: #343e48;
$dark-sky-blue: #4a90e2;
$sick-green: #8fc92a;
$silver: #cfd2d3;
$silver-two: #dfe1e2;
$silver-75: rgba(207, 210, 211, 0.75);
$silver-50: rgba(207, 210, 211, 0.5);
$silver-30: rgba(207, 210, 211, 0.3);
$silver-25: rgba(207, 210, 211, 0.25);
$copper: #d64123;
$black: #252525;
$light-grey: #ededed;
$white-two: #f9f9f9;
$primary-color: #9046ff;
$hover-color: #134580;
$primary-text-color: #fafafa;
$secondary-text-color: #eceff1;
$success-color: rgba(87, 181, 92, 0.8);
$warning-color: #b5a262;
$danger-color: #b53234;
$info-color: #4a90e2;
$primary-background: $charcoal-grey;
$third-background: #1a0933;
$secondary-background: #134580;
$success-background: rgb(168, 240, 173);
$warning-background: #fff8ba;
$danger-background: rgb(219, 161, 136);
$info-background: rgb(132, 224, 252);
