@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/mixins/utility";
@import "../../../../assets/scss/modals";

::ng-deep {
  .pre-checkout-modal {
    max-width: 650px;
    width: 100%;
    .modal-content, .content {
      padding: 0;
      display: flex;
      flex-direction: row;
    }
  }
}

.content .loader {
  height: 386px;
  .fa.fa-spinner {
    top: 190px;
    left: 320px;
    position: relative;
    font-size: 22px;
    color: #6A6A6A;
  }
}

.left-side {
  width: 60%;
  padding: 20px !important;
  h2 {
    color: $text-color;
  }
  span {
    color: $table-text;
  }

  label {
    padding-top: 0;
  }

  .form-field {
    display: flex;
    flex-direction: column;

    .form-control {
      width: 100%
    }
  }
}

.right-side {
  border-left: 1px solid #dddddd;
  background: rgba(0, 0, 0, 0.024);
  width: 50%;
  padding: 20px !important;

  h2 {
    color: $text-color;
  }
  span {
    color: $table-text;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.billing-selector {
  display: flex;
  align-items: center;
  margin: 15px 0 20px 0;

  label {
    margin: 0;
  }

  .billing-option {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 10px;
  }

  .biling-option:nth-child(2) {
    margin-left: 20px;
  }
}

.toggle-btn-stripe {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 40px;
  text-align: center;
  border: 2px solid #ddd;
  cursor: pointer;
  color: #9A9A9A;
  transition: all 0.3s ease;
  z-index: 1;

  small {
    color: #8fc92a;
    position: relative;
    top: 2px;
    margin-left: 5px;
    font-size: 12px;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    left: -2px;
  }

  &:hover {
    background: #eee;
  }

  &.selected {
    border: 2px solid #00aaff;
    color: #0c0c0c;
    z-index: 2;

    &:hover {
      background: #52a8dc42;
    }
  }
}

button.disabled {
  background: #dddddd !important;
  color: #9A9A9A !important;
}

.plan-summary {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .black {
    color: rgb(23, 23, 23);
  }

  .small-text {
    font-size: small;
  }

  .large-text {
    font-size: large;
    color: #0c0c0c;
  }

  .margin-top-high {
    margin-top: 20px;
  }

  .margin-top-low {
    margin-top: 10px;
  }
}

.btn-center {
  margin-top: 20px;
  width: 100%;
}

.tc {
  margin-top: 10px;
  font-size: small;
}
