# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
desktop-app/dist
desktop-app/tmp
desktop-app/out-tsc
desktop-app/release
# Only exists if Bazel was run
desktop-app/bazel-out
desktop-app/.angular

# dependencies
**/node_modules

# profiling files
**/chrome-profiler-events.json
**/speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
release/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/yarn-error.log
**/testem.log
**/typings

# System Files
.DS_Store
Thumbs.db

# Windows certificate
desktop-app/windows.pfx

**/package-lock.json

desktop-app/electron/dist

start.sh
buildAll.sh

#Mkdocs
site/
temp/

core/package-lock.json
core/node_modules
core/dist

cli/*-debug.log
cli/*-error.log
cli/.nyc_output
cli/dist
cli/lib
cli/package-lock.json
cli/tmp
cli/yarn.lock
cli/node_modules
cli/oclif.manifest.json
/release/
