# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
packages/desktop-app/dist
packages/desktop-app/tmp
packages/desktop-app/out-tsc
packages/desktop-app/release
packages/desktop-app/electron/dist
# Only exists if Bazel was run
packages/desktop-app/bazel-out
packages/desktop-app/.angular

# dependencies
**/node_modules

# profiling files
**/chrome-profiler-events.json
**/speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
release/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/yarn-error.log
**/testem.log
**/typings

# System Files
.DS_Store
Thumbs.db

# Windows certificate
packages/desktop-app/windows.pfx

**/package-lock.json

start.sh
buildAll.sh

#Mkdocs
site/
temp/

packages/core/package-lock.json
packages/core/node_modules
packages/core/dist

packages/cli/*-debug.log
packages/cli/*-error.log
packages/cli/.nyc_output
packages/cli/dist
packages/cli/lib
packages/cli/package-lock.json
packages/cli/tmp
packages/cli/yarn.lock
packages/cli/node_modules
packages/cli/oclif.manifest.json
/release/
