$dark-sky-blue: #4a90e2;
$silver: #cfd2d3;
$silver-two: #dfe1e2;
$silver-75: rgba(207, 210, 211, 0.75);
$silver-50: rgba(207, 210, 211, 0.5);
$silver-30: rgba(207, 210, 211, 0.3);
$silver-25: rgba(207, 210, 211, 0.25);
$copper: #d64123;
$black: #252525;
$light-grey: #ededed;
$white-two: #f9f9f9;
$primary-color: #9046ff;
$hover-color: #134580;
$primary-text-color: #fafafa;
$secondary-text-color: #eceff1;
$success-color: rgba(87, 181, 92, 0.8);
$warning-color: #b5a262;
$copper: #d64123;
$success: #8fc92a;
$charcoal-grey: #343e48;
$danger-color: #b53234;


/* Leapp color palette */
$main-color: #080B38;
$main-color-light: #73E0CF;
$text-color: #616161;
$white-text-color: #ffffff;
$focused-element: rgba($main-color-light,0.13);
$background: #F8F8F8;
$light-color: white;
$border-radius: 5px;
