.profile {
  position: absolute;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  transition: width 0.3s ease;
  box-shadow: 0 0 42px -14px rgba(0, 0, 0, 0.49);
  background: white;
  overflow: hidden;
  padding-top: 110px;
}

.extended {
  width: 280px;

  .menu-item {
    opacity: 1;
  }
}

.close-profile {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
  cursor: pointer;

  i {
    color: #707070;
    font-size: 20px;
  }
}

.menu-item {
  color: #707070;
  font-size: 16px;
  margin: 25px;
  padding: 0;
  display: block;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-item:hover {
  opacity: 0.7;
}
