@import "palette";

.profile {
  position: fixed;
  left: -200px;
  width: 200px;
  top: 0;
  bottom: 0;
  z-index: 2;
  transition: left 0.3s ease;
  background: #203E3A;
  overflow: hidden;
  padding: 30px 20px 20px 20px;

  img {
    margin-bottom: 50px;
    margin-left: 20px;
  }

  a {
    position: relative;
    display: block;
    color: #909f9d;
    transition: all 0.3s ease;
    padding: 10px 40px;
    margin: 0 -20px;
    text-decoration: none;

    i { color: #909f9d; margin-right: 10px; }

    small {
      display: inline-block;
      margin-left: 30px;
      font-size: 12px;
    }
  }
  a:hover, a:visited {
    color: white;

    i { color: #73E0CF; margin-right: 10px; }
  }
  a:hover::before, a:visited::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #73E0CF;
  }

  .copy {
    position: absolute;
    bottom: 10px;
    border-top: 1px solid white;
    color: white;
    font-size: 12px;
    padding-top: 10px;
  }

}

.extended {
  left: 0;

  .menu-item {
    opacity: 1;
  }
}

.close-profile {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;
  cursor: pointer;

  i {
    color: #707070;
    font-size: 20px;
  }
}

.menu-item {
  color: #707070;
  font-size: 16px;
  margin: 25px;
  padding: 0;
  display: block;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-item:hover {
  opacity: 0.7;
}
