$dark-sky-blue: #4a90e2;
$silver-dark: #A7A7A7;
$silver: #cfd2d3;
$silver-two: #dfe1e2;
$silver-75: rgba(207, 210, 211, 0.75);
$silver-50: #dadada;
$silver-30: rgba(207, 210, 211, 0.3);
$silver-25: #f3f3f3;
$copper: #d64123;
$black: #252525;
$medium-dark: #666666;
$light-grey: #ededed;
$white-two: #f9f9f9;
$primary-color: #9046ff;
$hover-color: #134580;
$primary-text-color: #fafafa;
$secondary-text-color: #eceff1;
$success-color: rgba(87, 181, 92, 0.8);
$warning-color: #b5a262;
$copper: #d64123;
$success: #8fc92a;
$charcoal-grey: #343e48;
$danger-color: #b53234;
$region-tag-color: #999999;
$region-tag-active-color: #171717;
$selected-card: rgb(49, 124, 246);
$selected-card-hover: rgb(49, 124, 246, 0.4);
$active-card: #e1f7f3;
$success-session: #64D1B9;
$text-black: #0c0c0c;
$table-text: #999999;
$small-color: #4c4c4c;
$search-icon-color: #919191;
$changelog-date-color: #6c6c6c;
$update-green: #23D4B8;

/* Leapp color palette */
$main-color: #080B38;
$main-color-light: #21D4B8;
$text-color: #171717;
$white-text-color: #ffffff;
$focused-element: rgba($main-color-light, 0.13);
$background: #ffffff;
$light-color: #ffffff;
$bright-red: #FF3B30;
$local-workspace-blu: #29A9E1;
$remote-workspace-purple: #A656EB;

/* Leapp Dark-Mode color palette */
$dark-main-text-color: #DEDCDD;
$dark-main-background: #363336;
$dark-table-background: #1F1D1E;
$dark-region-label-color: #5E5C5D;
$dark-button-color: #52A8DC;
$dark-tooltip-color: #4990BA;
$dark-selected-sidebar: #50466C;
$dark-hover-sidebar: #554c77;
$dark-tablehead-border: #404040;
$dark-session-card-border: #404040;
$dark-region-label-color-active: #9375EF;
$dark-modal-background: #292426;
$dark-active-session: #3C3353;
$dark-selected-session: #9375EF;
$dark-hover-session: #302334;
$dark-start-button: #52A8DC;
$dark-offline-session: #797878;
$dark-select-component: #383537;
$dark-component-value: #A2A2A2;
$dark-input-form-border: #787878;
$dark-mat-menu: #6D6D6D;
$dark-arrow-border: #A7A7A7;
$dark-ng-selected: #646464;
$dark-placeholder-color: #727272;
$dark-icons: #999999;

/*service providers*/
$azr: #035BDA;
$aws: #FF9900;
