@import "../../../assets/scss/palette";
@import "../../../assets/scss/mixins/utility";

.container-fluid {
  background: white;
  color: #222222;
  font-family: "Open Sans", sans-serif;
  padding: 0 25px;

  h1 {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 19px;
    color: #707070;
    text-align: left;
  }

  .terminal-actions {
    background: #222222;
    color: green;
    overflow: scroll;
    width: 100%;
    height: 200px;
  }
}

.hover {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
  }
  &.success {
    &:before {
      background-color: rgba(26, 23, 120, 0.8);
      background-image: url("../../../assets/images/check.svg");
    }
  }
}

.dependencies-list { list-style: none; }
.dependencies-list li { font-size: 10px; }

.little-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  float: left;
}

.dark-link {
  color: #707070;
  text-decoration: underline;
  cursor: pointer;
}

.btn-gradient {
  color: white!important;
  background:linear-gradient(-90deg, rgb(249, 212, 35) 0%, rgb(230, 92, 0) 80%)!important;
}

label { font-size: 14px; }
.btn { margin: 0 auto; display: block; }
.hint { color: #fd9d20; font-size: 12px; }
.title {
  color: #707070;
  font-size: 22px;
  margin: 70px 0;
  text-align: center;
}
