<div class="container-fluid">
  <h2 class="title">Type your Single Sign-On Url</h2>

  <form [formGroup]="form" class="form center-vertical text-left">

    <div class="form-group" style="width: 100%; display: inline-block;">
      <label>SSO Url<span class="danger-text">*</span></label>
      <input formControlName="federationUrl" type="url" class="form-control" placeholder="single sign-on url *">
      <small class="text-error" *ngIf="(form.controls['federationUrl'].dirty || form.controls['federationUrl'].touched) && form.controls['federationUrl'].errors">Insert the SSO url</small>
    </div>

    <br>
    <p class="hint">*URL that lets users who sign in to your organization's network securely access the AWS Management Console.</p>

    <br><br>

    <button type="button" (click)="saveFederationUrl();" [disabled]="!form.valid" [ngClass]="(!form.valid) ? 'btn btn-default': 'btn btn-default btn-gradient'">Next</button>

  </form>

</div>
