@import "palette";

.provider-selector {
  position: relative;
  display: inline-block;

}

.provider-selector.active a {
  border: none!important;
}

.provider-selector {
  span {
    width: 1px;
    background: $main-color-light;
  }

  .btn-left, .btn-right  {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    background: $light-color;
    border-top: 2px solid $light-color;
    border-bottom: 2px solid $light-color;
  }


  .btn-left {
    border-left: 2px solid $light-color;
    border-radius: $border-radius 0 0 $border-radius;
    padding: 5px 0 5px 5px!important;
    a {
      border-right: 2px solid $main-color-light;
      padding-right: 5px;
    }
  }

  .btn-right {
    border-radius: 0 $border-radius $border-radius 0;
    border-right: 2px solid $light-color;
  }

  .btn-left:hover, .btn-right:hover {
    text-decoration: none;
    background: $focused-element;
    border-top: 2px solid $focused-element;
    border-bottom: 2px solid $focused-element;
  }

  .btn-left:hover {
    border-left: 2px solid $focused-element;
  }

  .btn-right:hover {
    border-right: 2px solid $focused-element;
  }


  .btn-left.active, .btn-right.active  {
    background: $focused-element;
    border: 2px solid $main-color-light;
    a {border: none}
  }
  }



.search-bar {
  background: white;
  display: inline-block;
  width: 245px;
  border-radius: 5px;
  border: 2px solid white;
  height: 37px;
  margin-right: 15px;
  overflow: hidden;
  float: right;
  padding: 0 0;

  input {
    border: none;
    outline: none;
    display: inline-block;
    width: 86%;
    position: relative;
  }

  i {
    border-radius: $border-radius;
    background: $main-color-light;
    color: $white-text-color;
    padding: 6px;
  }
}

.small-btn i {
  border-radius: $border-radius;
  background: $main-color-light;
  color: $white-text-color;
  padding: 6px 9px;
  font-size: 24px;
}


.small-btn {float: right;}

.menu-bar {
  margin-bottom: 5px;
}

.with-scroll {
  padding-right: 12px!important;
  overflow-y: scroll;
  height: 77vh;
}

.with-scroll::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: $focused-element;
}

.with-scroll::-webkit-scrollbar
{
  width: 12px;
  background-color: $focused-element;
}

.with-scroll::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: $main-color-light;
}


.container-fluid {padding: 0 25px; }


ul {
  list-style: none;
  padding: 0;
}

h3 {
  font-size: 15px;
  font-weight: 800;
  color: $text-color;
}

.modal-header {
  color: white!important;
  background: #bababa;

  .close {
    font-size: 36px;
    color: white !important;
  }
}

.ssm-tray {
  border-radius: 0 0 10px 10px;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
  height: 0;
  transition: top 0.3s ease;
  margin: 0;
  background: white;
  z-index: 1;
  animation-name: moveUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  table {
    font-size: 12px!important;
  }
}

.ssm-tray.opened {
  display: block;
  height: 50vh;
  animation-name: moveDown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes moveDown {
  from {
    transform: translate3d(0, -120px, 0);
  }
  to {
    transform: translate3d(0, 120px, 0);
  }
}


@keyframes moveUp {
  from {
    transform: translate3d(0, 120px, 0);
  }
  to {
    transform: translate3d(0, -120px, 0);
  }
}

.information {
  display: inline-block;
  width: 286px;
}

.fixed-status {
  position: absolute;
  right: 4px;
  font-size: 11px;
  top: 5px;
  color: $text-color;
}
