@import "../../../assets/scss/mixins/utility";
@import "../../../assets/scss/mixins/palette";
@import "../../../assets/scss/global";

.not-displayed {
  display: none;
}

img.moon-stop-outline {
  width: 23px;
  margin-left: -2px;
  margin-bottom: 2px;
}

.disabled i.moon-Open-Web-Console,
.disabled span {
  color: $silver-30;
}

.userCircle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #00aaff;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}
