<div class="background">
  <app-profile></app-profile>
  <div class="container-fluid background">
    <app-profile-sidebar></app-profile-sidebar>

    <h1>Integrations Page</h1>


    <button style="margin-bottom: 10px" (click)="login()">AWS SSO</button>
    <br>
    <ng-container *ngIf="isAwsSsoActive">
      <button  style="margin-right: 15px" (click)="logout()">AWS SSO LOGOUT</button>
      <button (click)="forceSync()"> SYNC SESSIONS</button>
    </ng-container>
    <button type="button" (click)="goBack();" class="pull-left disabled">Back</button>
  </div>
</div>
,
