{% extends "base.html" %}

{% block extrahead %}
{% if page and page.meta.page_type and (page.meta.page_type == "session" or page.meta.page_type == "integration" or page.meta.page_type == "built-in") %}
<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ config.site_url }}/{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.meta.social_title }}">
<meta property="og:description" content="{{ page.meta.social_description }}">
<meta property="og:image" content="{{ config.site_url }}/images/{{ page.meta.social_relative_image_path }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="docs.leapp.cloud">
<meta property="twitter:url" content="{{ config.site_url }}/{{ page.url }}">
<meta name="twitter:title" content="{{ page.meta.social_title }}">
<meta name="twitter:description" content="{{ page.meta.social_description }}">
<meta name="twitter:image" content="{{ config.site_url }}/images/meta/social/{{ page.meta.social_relative_image_path }}">

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "HowTo",
    "name": "{{ page.title }}",
    "estimatedCost": {
      "@type": "MonetaryAmount",
      "currency": "USD",
      "value": "0"
    },
    "totalTime": "PT1M",
    "tool": [
      {
        "@type": "HowToTool",
        "name": "Leapp"
      }
    ],
    "step": [
      {
        "@type": "HowToSection",
        "name": "What is {{ page.meta.structured_data_how_to_title }}?",
        "position": "1",
        "itemListElement": [
          {
            "@type": "HowToStep",
            "position": "1",
            "itemListElement": [
              {
                "@type": "HowToTip",
                "position": "1",
                "text": "{{ page.meta.structured_data_how_to_tip1 }}"
              }
            ]
          }
        ]
      },
      {
        "@type": "HowToSection",
        "name": "How to configure {{ page.meta.structured_data_title }} in Leapp?",
        "position": "2",
        "itemListElement": [
          {
            "@type": "HowToStep",
            "position": "1",
            "itemListElement": [
              {
                "@type": "HowToTip",
                "position": "1",
                "text": "{{ page.meta.structured_data_how_to_tip2 }}"
              }
            ]
          }
        ]
      },
      {
        "@type": "HowToSection",
        "name": "Required information",
        "position": "3",
        "itemListElement": [
          {
            "@type": "HowToStep",
            "position": "1",
            "itemListElement": [
              {
                "@type": "HowToTip",
                "position": "1",
                "text": "{{ page.meta.structured_data_how_to_tip3 }}"
              }
            ]
          }
        ]
      },
      {
        "@type": "HowToSection",
        "name": "Video tutorial",
        "position": "4",
        "itemListElement": [
          {
            "@type": "HowToStep",
            "position": "1",
            "itemListElement": [
              {
                "@type": "HowToTip",
                "position": "1",
                "text": "{{ page.meta.structured_data_how_to_tip4 }}"
              }
            ]
          }
        ]
      }
    ]
  }
</script>
{% endif %}
{% endblock %}
