@import '../../../assets/scss/palette';

.workspace-bar {
  height: 100%;
  padding: 10px;
  background: $primary-background;

  .workspace {
    width: 50px;
    margin-top: 10px;
    height: 50px;
    border: none;
    border-radius: 4px;
    position: relative;
    outline: none;
    &.active {
      border: 1px solid $primary-text-color;
    }
    h5 {
       top: 50%;
       left: 50%;
       position: absolute;
       transform: translate(-50%, -50%);
    }
  }
}
