<div class="container-fluid">
  <h1>Create Your First Account</h1>

  <form [formGroup]="form" class="form center-vertical text-left" (submit)="saveFirstAccount();">

    <div class="toggable {{toggleOpen ? 'opened' : 'closed'}}">
      <div class="titable" title="Account Details" (click)="$event.stopPropagation(); toggleOpen = !toggleOpen;"></div>
      <div class="shrinkable">
        <div class="form-group" style="width: 100%; display: inline-block;">
          <label>IdP ARN<span class="danger-text">*</span></label>
          <input formControlName="idpArn" type="text" class="form-control" placeholder="Idp Arn *" (blur)="setAccountNumber($event);">
          <small class="text-error" *ngIf="(form.controls['idpArn'].dirty || form.controls['idpArn'].touched) && form.controls['idpArn'].errors">Insert the IdP ARN</small>
        </div>

        <div class="form-group" style="width: 100%; display: inline-block;">
          <label>Account Alias<span class="danger-text">*</span></label>
          <input formControlName="name" type="text" class="form-control" placeholder="Account Alias *">
          <small class="text-error" *ngIf="(form.controls['name'].dirty || form.controls['name'].touched) && form.controls['name'].errors">Insert an Account Alias</small>
        </div>

        <div class="form-group" style="width: 49%; display: inline-block;">
          <label>Account Number<span class="danger-text">*</span></label>
          <input formControlName="accountNumber" type="text" class="form-control" placeholder="Account Number *">
          <small class="text-error" *ngIf="(form.controls['accountNumber'].dirty || form.controls['accountNumber'].touched) && form.controls['accountNumber'].errors">Insert the Account Number</small>
        </div>

        <div style="width: 2%; height: 1px; display: inline-block;"></div>

        <div class="form-group" style="width: 49%; display: inline-block;">
          <label>AWS Region</label>
          <ng-select formControlName="myRegion" bindLabel="region" bindValue="region" [items]="regions" [(ngModel)]="selectedRegion" dropdownPosition="top"></ng-select>
        </div>
      </div>
    </div>

    <hr>

    <div class="toggable {{!toggleOpen ? 'opened' : 'closed'}}">
      <div class="titable" title="Role Details" (click)="$event.stopPropagation(); toggleOpen = !toggleOpen;"></div>
      <div class="shrinkable">
        <h1 style="margin-top: 10px;">Role names*</h1>
        <label class="orange-color"><small>*The role name must coincide with the Role in the IAM section. Remember to
          press <b>enter</b> to save the Role name.</small></label>

        <div class="form-group" style="width: 100%; display: inline-block; position: relative; height: auto;">
          <input #roleInput class="form-control" (keyup)="setRoleName($event);"
                 placeholder="Write Role name here and press Enter" style="padding-right: 35px;"/>
          <button type="button" (click)="setRoleName({ code: 'Enter'});"
                  class="adder-btn {{ checkDisabled ? '' : 'disabled'}}"><i class="fa fa-plus"></i></button>
          <ul>
            <li *ngFor="let role of roles">
              <span>{{role}} <i class="fa fa-times" (click)="removeRole(role);"></i></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button type="button" (click)="saveFirstAccount();" [disabled]="!(form.valid && this.roles.length > 0)" [ngClass]="!(form.valid && this.roles.length > 0) ? 'btn btn-default pull-right': 'btn btn-default btn-gradient pull-right'">Save</button>

  </form>

</div>
