@import "../../../assets/scss/mixins/utility";

.container-fluid {
  background: white;
  color: #222222;
  font-family: "AvenirNext", "Open Sans", sans-serif;
  padding: 40px;
}

.background {
  position: absolute;
  top: 0;
  left: -50px;
  height: 700px;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  font-family: "AvenirNext", "Open Sans", sans-serif;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;

  padding: 15px;

  position: absolute;
  top: 165px;
  left: 100px;

  strong {
    font-family: "AvenirNextBold", "Open Sans", sans-serif;
    font-weight: bold;
  }
}

p {
  font-size: 16px;
  font-weight: normal;
  font-family: "AvenirNext", "Open Sans", sans-serif;
  color: #ffffff;

  position: absolute;
  top: 315px;
  left: 50px;
  right: 50px;
}

button {
  background-color: #73E0CF;
  color: #080B38;
  border-radius: 4px;
  border: 2px solid #73E0CF!important;

  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: bold;

  transition: all 0.3s ease;

  min-width: 160px;
  padding: 10px;
}
button:hover {
  background-color: transparent;
  color: #73E0CF;
  border: 2px solid #73E0CF!important;
}

a {
  font-size: 12px;
  font-family: "AvenirNext", "Open Sans", sans-serif;
  font-weight: normal;
  color: #73E0CF;
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  color: #73E0CF;
  text-decoration: underline;
}

button {
  position: absolute;
  top: 380px;
  left: 180px;
}

span {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;

  position: absolute;
  top: 434px;
  left: 150px;
}


.app-loading {
  position: relative;
  border: none;
  display: flex;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
