@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/mixins/utility";
@import "../../../../assets/scss/modals";

.option-modal {
  max-width: 520px;
  width: 100%;
  .modal-content {
    padding: 0 0 20px;

    h2 { margin: 0; }
  }
}

.proxy-length-1 { width: 18%!important; }
.proxy-length-2 { position: relative; top: 3px; display: inline-block; width: 22%!important; padding: 0 3px; text-align: right; color: $silver-dark; }
.proxy-length-3 { position: relative; top: 3px; width: 60%!important; }
.proxy-length-4 { position: relative; top: 3px; display: inline-block; width: 3%!important; padding: 0 3px; text-align: center; color: $silver-dark; }
.proxy-length-5 { position: relative; top: 3px; width: 15%!important; }

.option-table {
  td {
    padding-left: 10px!important;
    padding-right: 10px!important;
    display: inline-block;
  }
  td:nth-child(1) {
    font-size: 13px;
    font-weight: 400;
    color: $text-black;
    width: 83%;
    max-width: 395px;
    overflow: hidden;
  }
  td:nth-child(2) {
    width: 80px;
    position:relative;
    top: calc(50% - 10px);
    button {
      display: inline-block!important;
      margin-left: 10px;
      position: relative;
      top: calc(50% - 10px);
    }
  }
}

.hero-unit {
  height: 136px;
  margin-top: -68px;
  position: absolute;
  top: 50%;
  width: 99%;
  display: flex;
  align-content: space-around;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid $silver-50;

  img {
    display: inline-flex;
    justify-self: center;
  }
  p {
    width: 71%;
    padding: 20px 10px;

    strong {
      font-weight: 500;
      font-size: 18px;
      display: block;
    }
    span {
      display: block;
      font-size: 16px;
    }
  }
}

.panel{
  animation: fadein .8s;
  overflow-x: hidden;
  padding: 0 1px;
}

.margin-fix {
  margin: 0 20px 0;
}

.max-height-200 {
  max-height: 200px;
}

.max-height-230 {
  max-height: 230px;
}

.max-height-320 {
  max-height: 320px;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.proxy-settings-section {
  display: none;
}

.join-community-button {
  position: relative;
  top: -15px;
}

.note {
  padding-top: 10px;
  display: inline-block;
}

.fix-top {
  position: relative;
  top: 3px;
}

.pull-right {
  display: inline-block;
  margin-left: 10px;
  float: right;
  &:hover {
    cursor: pointer;
  }
}

.plugin-table {
  th {
    height: 42px!important;
    z-index: 2;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 40%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    text-align: center;
  }

  th:nth-child(5),
  td:nth-child(5) {
    text-align: right;
  }
  i.fa-apple, i.fa-windows, i.fa-linux {
    color: $dark-main-background;
  }
}

.bw {
  filter: grayscale(1)!important;
}

.borderless-button {
  margin: 0 0 0 15px;
  padding: 0;
  background-color: unset!important;
}

.centered-column {
  display: inline-block;
  padding-bottom: 10px;
}

.extension-info {
  position: relative;
  bottom: 41px;
  strong {
    bottom: 5px;
    position: relative;
  }
}

.extension-documentation-button {
  margin-left: 10px;
}

.install-firefox-button, .extension-documentation-button {
  position: relative;
  bottom: 10px;
}
