<div class="container-fluid">
  <form [formGroup]="form" class="form center-vertical text-left" (submit)="saveAccount();">

    <ng-container *ngIf="!providerSelected">
      <h1>Prima di cominciare</h1>
      <p>Collega subito il tuo primo account e comincia ad immergerti nel tuo lavoro.</p>

      <div class="form-group" style="width: 100%; display: inline-block;">
        <label>Choose your account type<span class="danger-text">*</span></label>
        <br>
        <div class="correct-top">
        <button type="button" class="providers" (click)="setAccountType(eAccountType.AWS);"><img src="assets/images/aws-logo.svg" height="20"></button>
        <button type="button" class="providers" (click)="setAccountType(eAccountType.AZURE);"><img src="assets/images/azure-logo.svg" height="20"></button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="firstTime && accountType === eAccountType.AWS && !ssoInserted">
      <h1>Prima di cominciare</h1>
      <p>Collega subito il tuo primo account e comincia ad immergerti nel tuo lavoro.</p>

      <div class="form-group" style="width: 100%; display: inline-block;">
        <label>Choose your account type<span class="danger-text">*</span></label>
        <br>
        <a class="back" (click)="providerSelected = false; ssoInserted = false; accountType = undefined;"><i class="fa fa-chevron-left"></i></a>
        <span class="providers extended"><img src="assets/images/aws-logo.svg" height="20"></span>
        <br><br>
        <label>SSO Url<span class="danger-text">*</span></label>
        <input formControlName="federationUrl" type="url" class="form-control" placeholder="single sign-on url *">
        <small class="text-error" *ngIf="(form.controls['federationUrl'].dirty || form.controls['federationUrl'].touched) && form.controls['federationUrl'].errors">Insert the SSO url</small>
        <small class="note">*Questo passaggio è richiesto solo in fase di configurazione. Quando Cercherai di aggiungere un nuovo account non sarà più chiesto.</small>
      </div>

      <button type="button" class="pull-center" (click)="ssoInserted = true">Inizia Subito</button>
    </ng-container>

    <ng-container *ngIf="(providerSelected && accountType === eAccountType.AZURE) || (providerSelected && ssoInserted && accountType === eAccountType.AWS)">
      <h1>Crea il tuo Account!</h1>
      <p class="smaller">Figata. Ci siamo quasi. Inizia subito a lavorare. Crea il tuo account.</p>

      <ng-container *ngIf="accountType === eAccountType.AWS">
        <div class="form-group" style="width: 100%; display: inline-block;">
          <label>Seleziona la tipologia di Account</label>
          <br>
          <div class="correct-top-second-step">
            <button type="button" class="providers {{selectedType === 'federated' ? 'selected' : ''}}" (click)="selectedType = 'federated'">
              <i class="fa fa-info" tooltip="This is a set of option to create federated accounts"></i> Federated
            </button>
            <button type="button" class="providers {{selectedType === 'truster' ? 'selected' : ''}}" (click)="selectedType = 'truster'" *ngIf="!firstTime">
              <i class="fa fa-info" tooltip="This is a set of option to create truster accounts"></i> Truster
            </button>
            <span class="providers disabled second-step-fix" *ngIf="firstTime">
              <i class="fa fa-info" tooltip="This is a set of option to create truster accounts"></i> Truster
            </span>
          </div>
        </div>
      </ng-container>

      <div class="form-group" style="width: 100%; display: inline-block;">
        <label>Account Alias<span class="danger-text">*</span></label>
        <br>
        <input formControlName="name" type="text" class="form-control" placeholder="Account Alias *">
        <small class="text-error" *ngIf="(form.controls['name'].dirty || form.controls['name'].touched) && form.controls['name'].errors">Insert an Account Alias</small>
      </div>

      <ng-container *ngIf="accountType === eAccountType.AWS">
        <!-- ====================== -->
        <!-- AWS ACCOUNT PROPERTIES -->
        <!-- ====================== -->
        <div class="form-group" style="width: 100%; display: inline-block;">
          <label>Account Number<span class="danger-text">*</span></label>
          <input formControlName="accountNumber" type="text" class="form-control" placeholder="Account Number *">
          <small class="text-error" *ngIf="(form.controls['accountNumber'].dirty || form.controls['accountNumber'].touched) && form.controls['accountNumber'].errors">Insert the Account Number</small>
        </div>

        <div class="form-group" style="width: 100%; display: inline-block;">
          <label>Role<span class="danger-text">*</span></label>
          <input formControlName="role" type="text" class="form-control" placeholder="Role name" />
          <small class="text-error" *ngIf="(form.controls['role'].dirty || form.controls['role'].touched) && form.controls['role'].errors">Insert the Role</small>
        </div>

        <ng-container *ngIf="selectedType == 'federated'">
          <h2>Federated setting</h2>
          <div class="form-group" style="width: 100%; display: inline-block;">
            <label>IdP ARN<span class="danger-text">*</span></label>
            <input formControlName="idpArn" type="text" class="form-control" placeholder="Idp Arn *">
            <small class="text-error" *ngIf="(form.controls['idpArn'].dirty || form.controls['idpArn'].touched) && form.controls['idpArn'].errors">Insert the IdP ARN</small>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedType == 'truster'">
          <h2>Truster setting</h2>
          <div class="form-group" style="width: 49%; display: inline-block; position: relative; top: -1px;" >
            <label style="margin-bottom: 0;">Federated Account<span class="danger-text">*</span> <i class="fa fa-question-circle" tooltip="This role is used to make AssumeRole on the Truster Account"></i></label>
            <ng-select class="mt-2" formControlName="federatedAccount" bindLabel="accountName" bindValue="accountNumber" dropdownPosition="top" [items]="federatedAccounts" [(ngModel)]="selectedAccount" (change)="getFedRoles();" [disabled]="true"></ng-select>
          </div>

          <div style="width: 2%; height: 1px; display: inline-block;"></div>

          <div class="form-group" style="width: 49%; display: inline-block; position: relative; top: -1px;">
            <label style="margin-bottom: 0;">Federated Role<span class="danger-text">*</span> <i class="fa fa-question-circle" tooltip="This role is used to make AssumeRole on the Truster Account"></i></label>
            <ng-select class="mt-2" formControlName="federatedRole" bindLabel="name" bindValue="name" dropdownPosition="top" [items]="federatedRoles" [(ngModel)]="selectedRole"></ng-select>
          </div>

        </ng-container>
      </ng-container>

      <ng-container *ngIf="accountType === eAccountType.AZURE">
        <!-- ======================== -->
        <!-- AZURE ACCOUNT PROPERTIES -->
        <!-- ======================== -->
        <div class="form-group" style="width: 100%; display: inline-block;">
          <label>Subscription Id<span class="danger-text">*</span></label>
          <input formControlName="subscriptionId" type="text" class="form-control" placeholder="Subscription Id *">
          <small class="text-error" *ngIf="(form.controls['subscriptionId'].dirty || form.controls['subscriptionId'].touched) && form.controls['subscriptionId'].errors">Insert the Subscription Id</small>
        </div>

        <div class="form-group" style="width: 100%; display: inline-block;">
          <label>Tenant Id<span class="danger-text">*</span></label>
          <input formControlName="tenantId" type="text" class="form-control" placeholder="Tenant Id *">
          <small class="text-error" *ngIf="(form.controls['tenantId'].dirty || form.controls['tenantId'].touched) && form.controls['tenantId'].errors">Insert the Tenant Id</small>
        </div>
      </ng-container>

      <a class="back-link pull-left" (click)="goBack();"><i class="fas fa-arrow-left"></i></a>
      <button type="button" (click)="saveAccount();" [disabled]="!formValid()" [ngClass]="!formValid() ? 'pull-right disabled': 'pull-right'" *ngIf="selectedType">Save</button>
    </ng-container>

  </form>
</div>
