@import "palette";
@import "../../../assets/scss/mixins/utility";

.container-fluid {
  background: white;
  color: #222222;
  font-family: "Open Sans", sans-serif;
  padding: 0 25px;

  h1 {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 19px;
    color: #707070;
    text-align: left;
  }

  .terminal-actions {
    background: #222222;
    color: green;
    overflow: scroll;
    width: 100%;
    height: 200px;
  }
}

.hover {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
  }
  &.success {
    &:before {
      background-color: rgba(26, 23, 120, 0.8);
      background-image: url("../../../assets/images/check.svg");
    }
  }
}

.dependencies-list { list-style: none; }
.dependencies-list li { font-size: 10px; }
.little-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  float: left;
}

.mountain-keeper {
  position: relative;
  overflow-x: hidden;
  height: 94px;
}

.seamless-anim {
  position: absolute;
  display: inline-block;
  width: 928px;
  height: 94px;
  padding: 0;
  top: 0;
}
.seamless-anim img {
  width: 928px;
  height: 94px;
  margin: 0;
  padding: 0;
}

.chara {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
}

.dark-link {
  color: #707070;
  text-decoration: underline;
  cursor: pointer;
}

.btn-gradient {
  color: white!important;
  background:linear-gradient(-90deg, rgb(249, 212, 35) 0%, rgb(230, 92, 0) 80%)!important;
}

label { font-size: 14px; }

.orange-color {
  color: #fd9d20;
}

.pull-right {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.pull-left {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

ul {
  padding: 10px 0;
  margin: 0;
}

li {
  list-style: none;
  border-radius: 20px;
  padding: 2px 30px 2px 15px;
  background: linear-gradient(-90deg, #f9d423 0%, #e65c00 80%) !important;
  display: inline-block;
  margin: 5px;
  color: white;
  position: relative;

  span {
    font-size: 14px;
    display:  inline-block;
    position: relative;
    top: -1px;
  }

  i {
    background: white;
    color: #707070;
    border-radius: 20px;
    display: inline-block;
    height: 15px;
    width: 15px;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 10px;
    padding: 2px 0 5px 0;
    text-align: center;
    position: absolute;
    right: -23px;
    top: 3px;
  }

  i:hover {
    opacity: 0.8;
  }
}

li:first-child {
  margin-left: 0!important;
}
li:last-child {
  margin-right: 0!important;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 188px;
}

.account-type {
  border: 1px solid #222222;
  outline: none;
  background: #ffffff;
  color: #222222;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.account-type:hover {
  background: #cfd2d3;
}
.account-type.selected {
  background: #ff9e39;
}
