<div class="profile {{profileOpen ? 'extended' : ''}}" (click)="closeProfile();">

  <img src="assets/images/Leapp_Logo_white.png" alt="" title="" width="110" />

  <ul>
    <li><a class="menu-item" (click)="goToHome();"><i class="fa fa-home"></i>&nbsp;<span>Home</span></a></li>
    <li><a class="menu-item" (click)="goToProfile();"><i class="fa fa-gear"></i>&nbsp;<span>Options</span></a></li>
    <li><a class="menu-item" (click)="goToIdentityProvider();">
      <i class="fa fa-link"></i>&nbsp;<span>Integrations</span></a>
      <ul>
        <li><a class="menu-item" (click)="goToIdentityProvider();"><small>Identity Provider</small></a></li>
      </ul>
    </li>
    <li><a class="menu-item" (click)="logout();"><i class="fa fa-sign-out-alt"></i>&nbsp;<span>Log Out</span></a></li>
  </ul>

  <br>
  <br>
  <br>
  <div class="copy">
    <span>Leapp | © 2020 Noovolari</span>
  </div>
</div>
