@import "../../../../assets/scss/modals";
@import "../../../../assets/scss/mixins/palette";

::ng-deep {
  .confirm-modal {
    max-width: 520px;
    width: 100%;
  }
}

h3 {
  text-align: left;
  font-size: 17px;
  color: $text-color;
  font-weight: bold;

  span {
    font-size: 1.3rem; color: $silver-dark; font-weight: normal;
  }
}

div.updater > div.html-content {
  color: $text-color;
  overflow-y: scroll;
  text-align: left;
  height: 330px;
  margin: -39px -5px 22px 3px;

  h1 {
    font-size: 19px;
    padding-top: 20px;
    font-weight: 600;
    letter-spacing: -.5px;
    margin-left: 2px;
    margin-right: 6px;
  }

  h2 {
    text-align: center!important;
    color: $text-color;
    font-size: 19px!important;
    font-weight: bold!important;
    margin-top: 10px;
    margin-right: 6px;
  }
  h3 {
    text-align: left!important;
    color: $text-color;
    font-size: 17px!important;
    font-weight: bold!important;
    margin-left: 2px;
    margin-right: 6px;
  }

  p {
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-left: 2px;
    color: $changelog-date-color;
    margin-right: 6px;
  }

  a {
    color: $main-color-light;
    text-decoration: none;
    background-color: transparent;
    display: inline;
    cursor: default;
  }

  li {
    font-size: 14px;
    white-space:pre-wrap;
    color: $changelog-date-color;
    margin-right: 6px;
  }
}

.updater-header {
  margin-right: -20px;
  margin-left: -20px;
  border-bottom: 1px solid #E0E0E0;
}

.modal-title {
  margin-top: -10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  width: 460px;
  position: relative;

  .modal-title-icon {
    position: inherit;
    top: 15px;
    i {
      background-color: $main-color-light;
      color: $primary-text-color;
      border-radius: 5px;
      padding: 8px;
      font-size: 24px;
    }
  }

  .modal-title-message {
    position: inherit;
    left: -90px;
    top: 2px;

    span {
      letter-spacing: -.5px;
      font-weight: 600;
      font-size: 18px;
    }

    div {
      font-weight: 400;
      font-size: 14px;
      color: $changelog-date-color;
      letter-spacing: -.5px;
    }
  }

  .modal-title-close {
    position: relative;
    top: 14px;
  }
}

.button-equalizer {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #E0E0E0;
  position: relative;
  margin: -36px;
  margin-left: -20px;
  margin-right: -20px;
  top: -10px;
  padding-top: 15px;

  button {
    border: none;
    margin: 0 10px;
    padding: 8px;
    font-weight: 500;
    letter-spacing: -.5px;

    &.enabled {
      border-radius: 5px;
      color: $primary-text-color;
      background-color: $black;
    }

    &.disabled {
      color: $changelog-date-color;
      background-color: unset;
      margin-left: 0;
    }
  }
}

.modal-body {
  padding-right: 0;
  padding-left: 0;
}
