<div class="modal-header">
  <h4 class="modal-title">Please confirm your choice</h4>
  <a class="close pull-right" aria-label="Close" (click)="close();">
    <span aria-hidden="true">&times;</span>
  </a>
</div>

<div class="modal-body text-center">

  <i class="fas fa-exclamation-triangle fa-2x" style="color: #bababa; margin-bottom: 20px;"></i><h3 style="color: #bababa; display: inline-block;"> Hey,</h3>

  <br><div [innerHTML]="message" style="max-height: 318px; overflow-y: auto;"></div><br>

  <div class="button-equalizer">
    <button (click)="close();" class="disabled">Cancel</button>
    <button (click)="confirm();">Confirm</button>
  </div>

</div>
