@import "../../../assets/scss/global";

.command-bar {
  display: block;
  width: 100%;
  height: $commandbar-height;
  -webkit-user-select: auto;
  -webkit-user-drag: auto;
  -webkit-app-region: drag;

  &.compact {
    width: $compact-fixed-width!important;
  }
}

.side-bar {
  display: block;
  float: left;
  width: $menubar-width;
  height: calc(100vh - #{$commandbar-height});
  border-right: 1px solid $silver-75;
  overflow-y: auto;
  overflow-x: hidden;

  &.compact {
    display: none!important;
  }
}

.sessions {
  position: relative;
  display: block;
  float: right;
  width: calc(100% - #{$menubar-width});
  height: calc(100vh - #{$commandbar-height});
  overflow: hidden;
  &.filtered:not(.option-bar-opened) {
    height: calc(100vh - #{$commandbar-height} - 51px);
  }
  &.option-bar-opened:not(.filtered) {
    height: calc(100vh - #{$commandbar-height} - 60px);
  }
  &.option-bar-opened.filtered {
    height: calc(100vh - #{$commandbar-height} - 111px);
  }
  &.compact {
    width: $compact-fixed-width!important;
  }
}
