@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font: 400 16px/1.5 "Montserrat", sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal;
}

code {
  font-family: "JetBrains Mono", "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace!important;
}

:root {
  /* Code font */
  --md-code-font-family: "JetBrains Mono", "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;

  /* Default foreground color */
  --md-default-fg-color--light: #080B38;

  /* Primary color shades */
  --md-primary-fg-color:        #080B38;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-primary-bg-color:        hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-text-link-color:         #A4D6D5;

  /* Accent color shades */
  --md-accent-fg-color: #A4D6D5;
  --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
  --md-accent-bg-color: hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

:root > * {
  /* Footer */
  --md-footer-bg-color: #080B38;
  --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}

th {
  white-space:nowrap;
}

img[src$="center-img"] {
  display:block;
  margin: 0 auto;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    width: auto !important;
}

.md-typeset a {
  text-decoration: underline;
}

.md-typeset a:not(.md-button),
.md-nav__item .md-nav__link--active {
   color: #4DA7DE !important;
}

.md-typeset a:not(.md-button) :hover,
.md-nav__item .md-nav__link--active:hover {
  color: #4DA7DE !important;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  margin-bottom: 20px;
  line-height: 1.2;
}

.md-typeset h1 {
  font-weight: 700;
  font-size: 50px;
}

.md-typeset h2 {
  font-size: 30px;
  font-weight: 600;
}

.md-typeset h3 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 19px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 26px;
}

details p, .admonition p {
  font-size: .64rem;
  font-weight: 400;
  padding-top: 1em;
}

.tabbed-block p {
  padding: 10px;
  background: rgba(0,0,0,0.02);
}

.md-typeset .admonition.note,
.md-typeset details.note {
  border-color: #448aff;
}

.md-typeset details.info,
.md-typeset details.todo {
  border-color: #78E0CF;
}

.md-typeset .info > .admonition-title:before,
.md-typeset .info > summary:before,
.md-typeset .todo > .admonition-title:before,
.md-typeset .todo > summary:before {
  background-color: #78E0CF;
}

.md-typeset .info >.admonition-title,
.md-typeset .info > summary,
.md-typeset .todo > .admonition-title,
.md-typeset .todo > summary {
  background-color: rgba(0,184,212,.1);
  border-color: #78E0CF;
}

.centered-image {
  width:80%!important;
  display:block!important;
  margin: -10px auto -50px!important;
}

.update-image {
  width:80%!important;
  display:block!important;
  margin: 0 auto!important;
  margin-bottom: 20px!important;
}

footer {
  background-image: radial-gradient(farthest-corner at 50% 0, #52488D 0%, #080b38 70%)!important;
}

.md-footer-meta {
  background-color: transparent!important;
}

header {
  background: #080b38;
}

.md-button {
  text-decoration: none!important;
  border-radius: 5px!important;
  color: #080b38!important;
  background-color: #4DA7DE!important;
  border: none !important;
}

.md-disabled-button {
  color: #c2c2c2 !important;
  background-color: #646464 !important;
  cursor: default!important;
}

img[src$="smaller-img"] {
  width:70%;
  display:block;
  margin: 0 auto 30px;
}

img[src$="even-smaller-img"] {
  width:50%;
  display:block;
  margin: 0 auto;
}

.centered-button {
  display: block!important;
  margin: 0 auto;
  width: 58%;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.installation-button {
  width: 49%;
  text-align: center;
}
