ul {
  padding: 0;
  margin: 0;
  background: none!important;
  list-style: none;
  display: inline-table;
  li {
    display: inline;

    a {
      cursor: pointer;
      display: block;
      float: left;
      background: #F3F5FA;

      text-align: center;
      padding: 8px 20px;
      position: relative;
      margin: 0 10px 0 0;

      font-size: 10px;
      text-decoration: none;
      color: #707070;

      &:after {
        content: "";
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #F3F5FA;
        position: absolute;
        right: -15px;
        top: 0;
        z-index: 1;
      }

      &:before {
        content: "";
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #fff;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  li.selected a {
    color: white;
  }
}

ul li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
ul li:first-child a:before {
  display: none;
}


ul li a:hover {
  opacity: 0.8;
}
ul li a:hover:after {
  opacity: 0.8;
}

.li-home a {
  color: white!important;
  background:linear-gradient(-90deg, rgb(249, 212, 35) 0%, rgb(230, 92, 0) 80%)!important;
}
.li-home a:after {
  border-left: 15px solid rgb(249, 212, 35)!important;
}
