@import 'palette';
.profile {
  position: absolute;
  top: 15px;
  left: 15px;
}

.portrait {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: $focused-background;
}

.centered-div {
  position: relative;
  display: flex;
  justify-content: center;
}
