@import 'palette';
.profile {
  position: absolute;
  top: 24px;
  left: 24px;
}

.portrait {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: $main-color-light;
  border-radius: 4px;
}

.centered-div {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 16px;
}
