<div class="container-fluid">
  <form [formGroup]="form" class="edit-form form center-vertical text-left">
    <ng-container>

      <h1>Edit your Access Strategy</h1>
      <p class="smaller">I’m not sure of what’s my Access Strategy? Know more <a (click)="openAccessStrategyDocumentation();">here</a></p>
      <div class="form-group" style="width: 100%; display: inline-block;">
        <label>My Access Strategy is:</label>
        <br>
        <div class="correct-top" style="width: 100%;">
          <a class="back" (click)="goBack();"><i class="fa fa-chevron-left"></i></a>
          <span class="providers extended">
            <ng-container><i class="fa fa-info" tooltip="This is a set of option to create iam user sessions"></i> IAM User</ng-container>
          </span>
          <br><br>
        </div>
      </div>

      <ng-container>
        <!-- =============================== -->
        <!-- aws IAM USER ACCOUNT PROPERTIES -->
        <!-- =============================== -->
        <div class="form-group" style="width: 100%; display: inline-block;">
          <label>Session Alias<span class="danger-text">*</span></label>
          <br>
          <input formControlName="name" type="text" class="form-control" placeholder="Account Alias *">
          <small class="text-error" *ngIf="(form.controls['name'].dirty || form.controls['name'].touched) && form.controls['name'].errors">Insert a Session Alias</small>
        </div>

        <div class="form-group" style="width: 49%; display: inline-block;">
          <label>Aws Region</label>
          <ng-select formControlName="awsRegion" bindLabel="region" bindValue="region" [items]="regions" [(ngModel)]="selectedRegion" dropdownPosition="top"></ng-select>
        </div>

        <div class="form-group" style="width: 2%; display: inline-block; position: relative; top: -1px;"></div>

        <div class="form-group" style="width: 49%; display: inline-block;">
          <label>Mfa Device</label>
          <input formControlName="mfaDevice" type="text" class="form-control" placeholder="MFA arn or SN (optional)" />
        </div>

        <ng-container>
          <h2>Edit Secrets</h2>
          <div class="form-group" style="width: 49%; display: inline-block; position: relative; top: -1px;" >
            <label style="margin-bottom: 0;">Access  Key<span class="danger-text">*</span> <i class="fa fa-question-circle" tooltip="Edit access key"></i></label>
            <input formControlName="accessKey" type="text" class="form-control" placeholder="Access Key *">
          </div>

          <div style="width: 2%; height: 1px; display: inline-block;"></div>

          <div class="form-group" style="width: 49%; display: inline-block; position: relative; top: -1px;" >
            <label style="margin-bottom: 0;">Secret Key<span class="danger-text">*</span> <i class="fa fa-question-circle" tooltip="Edit secret key"></i></label>
            <input formControlName="secretKey" type="text" class="form-control" placeholder="Secret Key *">
          </div>

        </ng-container>

      </ng-container>

      <button type="button" (click)="saveAccount();" [disabled]="!formValid()" [ngClass]="!formValid() ? 'pull-right disabled': 'pull-right'" *ngIf="accountType">Save</button>
    </ng-container>

  </form>
</div>
