<div class="holder">
  <div class="icon float">
    <i *ngIf="data.className === 'toast-success'" class="fal fa-check-circle"></i>
    <i *ngIf="data.className === 'toast-info'" class="fal fa-info-circle"></i>
    <i *ngIf="data.className === 'toast-warning'" class="fal fa-exclamation-triangle"></i>
    <i *ngIf="data.className === 'toast-error'" class="fal fa-exclamation-circle"></i>
  </div>

  <div [innerHTML]="data.html" class="large float"></div>

  <a (click)="close($event);" class="small float" *ngIf="data.className === 'toast-error'"><i class="moon-Close"></i></a>
  <div class="clear"></div>
</div>
