.container-fluid {
  width: 100%;
  height: 100%;
  background: white;
  color: #606061;

  h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
}

.workspace-form {
  padding: 20px;
}

.workspace-form input {
  border: none;
  outline: none;
  border-bottom: 2px solid #222222;
  border-radius: 0;
  color: #606061;
  font-family: 'Open Sans', sans-serif;
  transition: border-bottom 0.5s ease;
  display: block;
  width: 100%;
  padding: 10px;
}

.workspace-form input:focus {
  border-bottom: 2px solid #e45d0e;
}

.gray-text {
  color: #828283;
}

a {
  color: #e45d0e!important;
}

.clean-cache {
  position: absolute;
  bottom: 68px;
  left: 102px;
}
.submit {
  position: absolute;
  bottom: 68px;
  right: 102px;
}
.btn-gradient {
  color: white!important;
  background:linear-gradient(-90deg, rgb(249, 212, 35) 0%, rgb(230, 92, 0) 80%)!important;
}
.hide { visibility: hidden; }


.gray-text { color: #828283; }
.app-loading {
  position: relative;
  border: none;
  display: flex;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
