<div class="content flex-container column page-container" *ngIf="!loading">

    <img src="assets/images/start-screen.png" class="background" />

    <h1>One step away<br>from your <strong>Cloud</strong></h1>

    <p>Collect all your Cloud access data in a single place and connect straight away</p>

    <button (click)="resolveDependencies();" class="btn btn-default btn-gradient">Start</button>

    <span>Any doubts? Check our <a href="https://github.com/Noovolari/leapp/blob/master/README.md" class="dark-link">documentation</a>.</span>
</div>

<div class="content flex-container column page-container" *ngIf="loading">

  <div class="app-loading">
    <img src="assets/images/be-auth-logo.svg" width="100" />
    <svg class="spinner" viewBox="25 25 50 50">
      <defs>
        <linearGradient id="linearColors1">
          <stop offset="0%" stop-color="#F3AB1C"></stop>
          <stop offset="100%" stop-color="#E15200"></stop>
        </linearGradient>
      </defs>
      <circle
        class="path"
        cx="50"
        cy="50"
        r="20"
        fill="none"
        stroke-width="2"
        stroke-miterlimit="10"
        stroke="url(#linearColors1)"
      />
    </svg>
  </div>

</div>
