@import "../../../assets/scss/global";
@import "../../../assets/scss/form";
@import "../../../assets/scss/mixins/palette";

.filter-menu {
  padding: 10px 20px;
  font-size: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.menu-buttons {
  padding: 15px 15px 7px 15px;
  a {
    color: $table-text;
    font-weight: 500;
    margin-left: $standard-padding;
  }
  button {
    padding: 5px 10px;
  }
}

span {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 8px;
}

.search-bar {
  border-bottom: 1px solid $silver-50;

  .icon {
    color: $text-color;
    display: inline-block;
    float: left;
    width: 14%;
    font-size: 18px;
    padding: 5px 0 0 20px;
  }

  .clear {
    clear: both;
  }

  input {
    float: left;
    display: inline-block;
    width: 86%;
    border: none!important;
    outline: none!important;
    color: $text-color;
    background: $white-text-color!important;
    padding: 5px 10px 10px 10px;
    font-size: 14px;
  }
}

.cancel-tag {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;

  i { color: $table-text; position: relative; top: 2px; }
}

.category {
  font-weight: 500;
  color: $table-text;
  margin-bottom: 10px;
  display: inline-block;
}
