@import "palette";
@import "../../../assets/scss/mixins/utility";

body {
  background: $white-text-color;
}

.fake-blur {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
}

.btn-control {cursor:pointer!important}

.tip {
  position: absolute;
  bottom: 7px;
  left: 11px;
  color: #707070;
  font-size: 10px;
}

.background {
  padding-top: 30px;
  background: rgba(0,0,0,0.02);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
}

.blue-control {
  background: azure;
  color: $text-color;
  border: 1px solid $main-color-light;
  font-size: 12px;
  font-weight: 400;
}

.container-fluid {
  color: $text-color;
  font-family: "AvenirNext", "Open Sans", sans-serif;
  padding: 0 40px;

  .callout {
    background: $white-text-color;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;

    span {
      display: block;
      padding: 0 30px;
      font-size: 12px;
    }
  }

  .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 188px;
  }

  h1 {
    margin: 10px 0;
    font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    font-size: 16px;
    color: #616161;
    display: block;

    a {
      margin-right: 20px;
    }
  }

  h2 {
    font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    display: block;
    position: relative;

    i {
      margin-right: 10px;
    }
  }

  h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 60px;
  }

  small {
    text-align: center;
    display: block;
    padding: 0 60px;
  }

  .back-link {
    text-decoration: none;
    cursor: pointer;
    color: $text-color;

    i {
      position: relative;
    }
  }

  .back-link:hover {
    i {
      animation: moving 0.3s normal forwards ease-in-out;
    }
  }
}


.pull-right {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.pull-left {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.pull-center {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  background-color: $main-color-light;
  color: $primary-text-color;
  border-radius: 4px;
  border: 2px solid $main-color-light!important;

  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: bold;

  transition: all 0.3s ease;

  min-width: 160px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: #73E0CF;
  border: 2px solid #73E0CF!important;
}

button.disabled {
  background: $light-grey;
  color: $charcoal-grey;
  border: 2px solid $charcoal-grey!important;
}

.onclick {
  width: 40px;
  border-color: #ddd;
  border-width:3px;
  font-size:0;
  border-left-color: #00ff00;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color: #00ff00;
    background: white;
  }
}

.validate {
  font-size:13px;
  color: white;
  background: #00ff00;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes expanding {
  from { width: 174px; }
  to { width: 91%; }
}

@keyframes moving {
  from { left: 0; }
  to { left: -10px; }
}
