<img src="assets/images/fake_blur.png" class="fake-blur"  alt="" />
<div class="background">
  <ng-container *ngIf="!loading">
    <div class="container-fluid">
      <h1><a (click)="goBack()" class="back-link"><i class="fa fa-arrow-left"></i></a><i class="fa fa-fingerprint"></i> Identity Providers</h1>

      <form [formGroup]="form" class="form center-vertical text-left">

        <div class="form-group" style="width: 100%; display: inline-block;">
          <label><strong>Identity Provider</strong></label>
          <br>
          <input  type="text" class="form-control blue-control btn-control" placeholder="Aws Single Sign-On" value="Aws Single Sign-On" readonly>
        </div>

        <ng-container *ngIf="!isAwsSsoActive">
        <div class="form-group" style="width: 100%; display: inline-block;">
          <label><strong>Aws Single Sign-On Url</strong><span class="danger-text">*</span></label>
          <br>
          <input formControlName="portalUrl" type="url" class="form-control" placeholder="aws SSO url (eg https://d-xxxxxxxxxx.awsapps.com/start) *">
          <small class="text-error" *ngIf="(form.controls['portalUrl'].dirty || form.controls['portalUrl'].touched) && form.controls['portalUrl'].errors">Insert the Aws Single Sign-On url</small>
        </div>

        <div class="form-group" style="width: 100%; display: inline-block;">
          <label><strong>Aws Region</strong></label>
          <ng-select formControlName="awsRegion" bindLabel="region" bindValue="region" [items]="regions" [(ngModel)]="selectedRegion" dropdownPosition="top"></ng-select>
        </div>

        <div class="form-group" style="width: 100%; display: inline-block;">
          <label><strong>Default browser opening</strong></label>
          <ng-select formControlName="defaultBrowserOpening" bindLabel="type" bindValue="type" [items]="[{type: eConstants.inApp.toString() }, {type: eConstants.inBrowser.toString() }]" [(ngModel)]="selectedBrowserOpening" dropdownPosition="top"></ng-select>
        </div>
        </ng-container>

        <ng-container *ngIf="isAwsSsoActive">
          <div class="form-group" style="width: 100%; display: inline-block;">
            <label><strong>Aws Single Sign-On Url</strong></label>
            <br>
            <span class="form-control blue-control">{{portalUrl}}</span>
         </div>

          <div class="form-group" style="width: 100%; display: inline-block;">
            <label><strong>Aws Region</strong></label>
            <br>
            <span class="form-control blue-control">{{selectedRegion}}</span>
          </div>


        </ng-container>
      </form>

    </div>

    <ng-container *ngIf="!isAwsSsoActive">
      <button class="button pull-center" (click)="login()" *ngIf="!loading">Login</button>
    </ng-container>

    <ng-container *ngIf="isAwsSsoActive">
      <button class="button pull-left disabled" (click)="logout()">Logout</button>
      <button class="button pull-right" (click)="forceSync()" *ngIf="!loading">Synchronize</button>
    </ng-container>

  </ng-container>
  <ng-container *ngIf="loading">
    <h1 class="loading-title"><span class="back-link"><i class="fa fa-link"></i></span> AWS SSO Login</h1>
    <span class="closing" (click)="loading = false;">&times;</span>

    <div class="loading-content">
      <label class="loading-leapp">Leapp</label>
      <br>
      <span class="loading-text">Don't see the secure AWS Single Sign-On Browser Page? We'll help you re-launch the window to complete the login flow</span>
      <br>
      <img src="assets/images/loading-pc.png" alt="" class="loading-pc" />
      <br>
      <a (click)="gotoWebForm()" class="loading-link">Click to open AWS Single Sign-On form here</a>
    </div>
  </ng-container>
</div>
