@import "palette";
@import "../../../assets/scss/mixins/utility";

body {
  background: $white-text-color;
}

.fake-blur {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
}

.btn-control {cursor:pointer!important}

.tip {
  position: absolute;
  bottom: 7px;
  left: 11px;
  color: #707070;
  font-size: 10px;
}

.background {
  padding-top: 30px;
  background: rgba(0,0,0,0.02);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
}

.blue-control {
  background: azure;
  color: $text-color;
  border: 1px solid $main-color-light;
  font-size: 12px;
  font-weight: 400;
  height: 94vh;
}

//noinspection DuplicatedCode
.container-fluid {
  color: $text-color;
  font-family: "AvenirNext", "Open Sans", sans-serif;
  padding: 0 40px;
  height: 94vh;

  .callout {
    background: $white-text-color;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;

    span {
      display: block;
      padding: 0 30px;
      font-size: 12px;
    }
  }

  h1 {
    margin: 10px 0;
    font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    font-size: 16px;
    color: #616161;
    display: block;

    a {
      margin-right: 20px;
    }
  }

  h2 {
    font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    display: block;
    position: relative;

    i {
      margin-right: 10px;
    }
  }

  h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 60px;
  }

  small {
    text-align: center;
    display: block;
    padding: 0 60px;
  }

  .back-link {
    text-decoration: none;
    cursor: pointer;
    color: $text-color;

    i {
      position: relative;
    }
  }

  .back-link:hover {
    i {
      animation: moving 0.3s normal forwards ease-in-out;
    }
  }
}


.pull-right {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.pull-left {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.pull-center {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

//noinspection DuplicatedCode
button {
  background-color: $main-color-light;
  color: $primary-text-color;
  border-radius: 4px;
  border: 2px solid $main-color-light!important;

  font-family: "Lato", "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: bold;

  transition: all 0.3s ease;

  min-width: 160px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: #73E0CF;
  border: 2px solid #73E0CF!important;
}

button.disabled {
  background: $light-grey;
  color: $charcoal-grey;
  border: 2px solid $charcoal-grey!important;
}

.loading-content {
  margin: 0 auto;
  padding: 20px;
  width: 380px;
}

.loading-pc {
  width: 300px;
  margin-bottom: 50px;
}

.closing {
  font-size: 35px;
  font-weight: lighter;
  color: #666;
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
}

.loading-title {
  font-size: 16px!important;
  font-weight: bold!important;
  color: #666!important;
  position: relative!important;
  margin-top: 10px!important;
  padding-left: 86px!important;
}

.loading-leapp {
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #666;
}

.loading-text {
  font-size: 12px;
  color: #888;
  margin-bottom: 50px;
  display: inline-block;
}

.loading-link {
  font-size: 12px;
  display: inline-block;
  color: #666;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes expanding {
  from { width: 174px; }
  to { width: 91%; }
}

@keyframes moving {
  from { left: 0; }
  to { left: -10px; }
}
.sso-card-container {
  overflow-y: auto;
}

.sso-card {
  position: relative;
  margin: 10px 40px;
  padding: 15px 20px 50px 20px;
  border-radius: 5px;
  border: 1px solid #78E0CF;
  background: rgba(120, 224, 207, 0.4);

  p {
    color: #343e48;
    font-size: 14px;
    margin-bottom: 5px;
  }

  p:not(:first-child) {
    font-weight: bold;
  }

  button {
    min-width: 70px;
    height: 30px;
    font-size: 12px;
    color: white;
    padding: 0;
    cursor: pointer;

    &:hover {
      background: #78E0CF;
    }
  }

  .pull-right {
    position: absolute;
    right: 17px;
    bottom: 9px;
  }

  .pull-left {
    position: absolute;
    left: 17px;
    bottom: 9px;
  }

  .pull-apart {
    position: absolute;
    bottom: 9px;
    right: 92px;
  }

  .pull-apart-2 {
    position: absolute;
    bottom: 9px;
    right: 167px;
  }

  &.add {
    border: 1px dashed #78E0CF;
    padding: 20px;
    cursor: pointer;

    div, p {
      text-align: center;
      font-size: 12px;

      span {
        color: white;
        font-size: 30px;
        display: block;
        height: 46px;
        background: #73E0CF;
        width: 46px;
        margin: 0 auto;
        border-radius: 5px;
      }
    }
  }
}

.integration-button {
  background: white;
  border-radius: 5px;
  border: 1px solid #343e48;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  color: #343e48;
  display: inline-block;
}

.underlined {
  text-decoration: underline;
  font-weight: normal!important;
}

.uppercase {
  text-transform: uppercase;
  font-weight: normal!important;
}

.alias {
  max-width: 300px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px;
}

.status {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10px;
  color: #203E3A;

  .green-dot { display: inline-block; width: 8px; height: 8px; border-radius: 4px; background: #8fc92a; }
  .red-dot { display: inline-block; width: 8px; height: 8px; border-radius: 4px; background: #d64123; }
}

.region-font {font-size: 10px;}
