@import "../../../assets/scss/global";
@import "../../../assets/scss/mixins/palette";

::ng-deep {
  .sso-modal {
    max-width: 520px !important;
    width: 100%;
  }
}

form {
  margin-top: 20px;
}

.panel-header {
  margin-left: 0 !important;
  width: 100%;

  span {
    display: block;
    width: 87%;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  }

  i.moon-Add {
    float: right;
    font-size: 20px;
    position: relative;
    right: -8px;
    transition: all 0.3s ease;
    cursor: pointer;

    &.disabled {
      opacity: 0.7;
      cursor: default;
    }

    &:hover:not(.disabled) {
      color: $text-color;
    }
  }
}

b.moon-More {
  display: none;
  position: absolute;
  font-size: 20px;
  float: right;
  right: 6px;
  top: 8px;
}

.mat-list-item:hover {
  b.moon-More {
    display: inline-block;
    color: $text-color;
    opacity: 0.7;
  }

  .status {
    left: 19px;
  }
}

img {
  width: 20px;
  position: relative;
  top: -6px;
  margin-right: 7px;
}

.status {
  position: absolute;
  top: 8px;
  left: 29px;
  width: inherit;
}

.green-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #8fc92a;
  border: 1px solid white;
}

.red-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #d64123;
  border: 1px solid white;
}

.gray-line {
  color: $region-tag-color;
}

.loading-content {
  margin: 0 auto;
  padding: 20px;
  width: 460px;
  text-align: center;
}

.loading-pc {
  width: 200px;
  margin-bottom: 20px;
}

.loading-title {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #666 !important;
  position: relative !important;
  margin-top: 10px !important;
  padding-left: 86px !important;
}

.loading-leapp {
  font-weight: bold;
  margin-bottom: 20px;
  display: inline;
  text-align: center;
  width: 100%;
  color: #666;
}

.loading-text {
  font-size: 12px;
  color: #888;
  margin-bottom: 50px;
  display: inline;
}

.loading-link {
  font-size: 12px;
  display: inline;
  color: #666;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

::ng-deep {
  .mat-list-item.selected-integration:hover {
    background-color: $silver-25 !important;
  }

  .selected-integration .mat-list-item-content {
    padding: 0 6px 0 !important;
  }

  .selected-integration:hover .mat-list-item-content {
    padding: 0 6px 0 !important;
  }

  .selected-integration:hover .mat-list-item-content .mat-list-text .mat-line {
    section.status {
      left: 18px !important;
    }

    b.moon-More {
      right: 7px !important;
    }
  }
}
