<div class="content flex-container column page-container" *ngIf="!loading">

  <div class="container-fluid text-center" *ngIf="!showCLiError">
    <h1><img src="assets/images/welcome-icon.svg"/>&nbsp;Hello</h1>
    <p>We are happy to have you on board!</p>
    <button [disabled]="!this.enabled" (click)="resolveDependenciesMvp();" class="btn btn-default btn-gradient">Start</button>
  </div>

  <div class="container-fluid text-center" *ngIf="showCLiError">
    <h1 *ngIf="cliError"><img src="assets/images/error.png"/><br>Oops, AWS CLI not installed!</h1>
    <h1 *ngIf="licenceError"><img src="assets/images/error.png"/><br>Got a problem with your licence!</h1>
    <h1 *ngIf="genericError"><img src="assets/images/error.png"/><br>Something went wrong!</h1>

    <div *ngIf="cliError">
      <p><small><a href="https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-install.html" target="_blank" class="dark-link">Install it</a> and come back to complete the setup.</small></p>

      <a href="mailto:support@noovolari.com" class="dark-link"><i>Need help? Contact us!</i></a>
      <br>
    </div>
    <div *ngIf="licenceError">
      <p><small>We had the following error: {{licenceErrorMessage}}.<br>Please clean the .LookAuth{{liteClient ? 'Lite' : ''}} folder and try reinstalling the application.</small></p>

      <a href="mailto:support@noovolari.com" class="dark-link"><i>Need help? Contact us!</i></a>
      <br>
    </div>
    <div *ngIf="genericError">
      <a href="mailto:support@noovolari.com" class="dark-link"><i>Need help? Contact us!</i></a>
      <br>
    </div>

    <br>
    <button [disabled]="!this.enabled"  (click)="app.quit();" class="btn btn-default" *ngIf="licenceError">Quit</button>
    <button [disabled]="!this.enabled"  (click)="resolveDependenciesMvp();" class="btn btn-default" *ngIf="!licenceError">Try again</button>
  </div>

</div>

<div class="content flex-container column page-container" *ngIf="loading">

  <div class="app-loading">
    <img src="assets/images/be-auth-logo.svg" width="100" />
    <svg class="spinner" viewBox="25 25 50 50">
      <defs>
        <linearGradient id="linearColors1">
          <stop offset="0%" stop-color="#F3AB1C"></stop>
          <stop offset="100%" stop-color="#E15200"></stop>
        </linearGradient>
      </defs>
      <circle
        class="path"
        cx="50"
        cy="50"
        r="20"
        fill="none"
        stroke-width="2"
        stroke-miterlimit="10"
        stroke="url(#linearColors1)"
      />
    </svg>
  </div>

</div>
