@import "../../../assets/scss/mixins/palette";
@import "../../../assets/scss/mixins/utility";
@import "../../../assets/scss/global";

.create-new {
  border-top: 1px solid $silver-50;
  color: $silver-dark;
  padding: 10px 10px 0 10px;

  i {
    color: $silver-dark;
    font-size: 20px;
    position: relative;
    top: 3px;
  }
}

.add {
  cursor: pointer;
  color: $text-color;
  i {
    color: $text-color;
  }
}

.temp-name {
  overflow: hidden;
  max-width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  top: 6px;
}

::ng-deep {
  span.ng-option-label {
    overflow: hidden;
  }
}
