<div class="background">
  <app-profile></app-profile>

  <div class="container-fluid">
    <app-profile-sidebar></app-profile-sidebar>

    <h1>Options</h1>
    <p>Tweak various aspects of Leapp</p>

    <form [formGroup]="form" class="form center-vertical text-left" (submit)="saveOptions();">

      <div class="form-group" style="width: 100%; display: inline-block;">
        <label>Google IdP URL<span class="danger-text">*</span></label>
        <input formControlName="idpUrl" type="text" class="form-control" placeholder="Idp Url *" [value]="" >
        <small class="text-error" *ngIf="(form.controls['idpUrl'].dirty || form.controls['idpUrl'].touched) && form.controls['idpUrl'].errors">Insert the Google IdP URL</small>
      </div>

      <div class="form-group" style="width: 100%; display: inline-block;">
        <label>Proxy URL</label>
        <input formControlName="proxyUrl" type="text" class="form-control" placeholder="add a Proxy Url when needed" [value]="" >
      </div>

      <div class="form-group" style="width: 100%; display: inline-block;">
        <label>SSO Alias URL</label>
        <input formControlName="ssoAliasUrl" type="text" class="form-control" placeholder="use it when you have an sso alias" [value]="" >
      </div>

      <button type="button" (click)="saveOptions();" [disabled]="!form.valid" [ngClass]="(!form.valid) ? 'pull-right disabled': 'pull-right'">Save</button>
      <button type="button" (click)="goBack();" class="pull-left disabled">Back</button>

    </form>
  </div>
</div>
