@import "palette";
@import "../../../assets/scss/mixins/utility";

body {
  background: $white-text-color;
}

.tip {
  position: absolute;
  bottom: 7px;
  left: 11px;
  color: #707070;
  font-size: 10px;
}

.background {
  background: $white-text-color;
  padding-top: 30px;
}

.container-fluid {
  background: $white-text-color;
  color: $text-color;
  font-family: "AvenirNext", "Open Sans", sans-serif;
  padding: 0 25px;

  position: fixed;
  left: 0;
  transition: left 0.3s ease;
  top: 80px;
  bottom: 0;

  .pull-right {
    position: absolute;
    right: 25px;
    bottom: 25px;
  }

  .pull-left {
    position: absolute;
    left: 25px;
    bottom: 25px;
  }

  .pull-center {
    display: inline-block;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 188px;
  }

  h1 {
    margin: 30px auto 19px auto;

    font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: $text-color;
    text-align: center;
    display: block;
  }

  h2 {
    font-family: "AvenirNextDemiBold", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    text-align: center;
    display: block;
    background: $white-text-color;
    position: relative;
    top: 8px;
  }
  h2:before {
    position: relative;
    top: 8px;
    float: left;
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background: $main-color-light;
  }
  h2:after {
    position: relative;
    top: 8px;
    float: right;
    content: '';
    display: inline-block;
    width: 100px;
    height: 2px;
    background: $main-color-light;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    font-family: "AvenirNext", "Open Sans", sans-serif;
    color: $text-color;
  }
  p.smaller {
    font-size: 12px;
  }

  label {
    font-size: 12px;
    font-weight: bold;
    font-family: "AvenirNextBold", "Open Sans", sans-serif;
    color: $text-color;
  }

  button {
    background-color: #73E0CF;
    color: #080B38;
    border-radius: 4px;
    border: 2px solid #73E0CF!important;

    font-family: "Lato", "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;

    transition: all 0.3s ease;

    min-width: 160px;
    padding: 10px;
  }
  button:hover {
    background-color: transparent;
    color: #73E0CF;
    border: 2px solid #73E0CF!important;
  }
  button.disabled {
    background: $light-grey;
    color: $charcoal-grey;
    border: 2px solid $charcoal-grey!important;
  }
  button.small-btn {
    color: white;
  }
  button.small-btn:hover {
    color: #73E0CF;
  }

  .providers {
    display: inline-block;
    width: 175px;
    padding: 10px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    min-width: auto;

    font-size: 12px;
    font-family: "AvenirNext", "Open Sans", sans-serif;
    color: $text-color;

    border-radius: 4px;
    border: 2px solid $text-color!important;
    background-color: $background;

    transition: all 0.3s ease;
  }
  .providers:hover {
    background: $focused-element;
    border: 2px solid $main-color-light;
  }
  .providers.extended {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    height: 42px;
    background: $focused-element;
    border: 2px solid $main-color-light!important;

    animation: expanding 0.3s normal forwards ease-in-out;
    animation-iteration-count: 1;
  }
  .providers.hide {
    display: none;
  }
  .providers.disabled {
    background: $light-grey;
    color: $charcoal-grey;
    border: 2px solid $charcoal-grey!important;
    top: -5px;
    position: relative;
  }
  .providers.selected {
    background: $focused-element;
    border: 2px solid $main-color-light!important;
  }
  .back {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    color: $text-color;
  }
  .note {
    font-size: 10px;
    font-weight: normal;
    font-family: "AvenirNext", "Open Sans", sans-serif;
    color: $text-color;
    margin-top: 10px;
  }
  .correct-top {
    margin-top: 4px;
    position: relative;
    bottom: 5px;
    display: flex;
    justify-content: space-between;

    .providers {
      margin: 0 8px 0 0;
    }
  }
  .correct-top-second-step {
    display: flex;
    justify-content: space-between;
  }
  .second-step-fix {
    margin-bottom: 9px;
  }
  .back-link {
    text-decoration: none;
    color: $text-color;
    cursor: pointer;
    i {
      position: relative;
      left: 0;
      color: $text-color;
      font-size: 20px;
    }
  }
  .back-link:hover {
    i {
      animation: moving 0.3s normal forwards ease-in-out;
    }
  }
}

@keyframes expanding {
  from { width: 174px; }
  to { width: 91%; }
}

@keyframes moving {
  from { left: 0; }
  to { left: -10px; }
}

.tabs{ position: relative; border-bottom: 1px solid #73E0CF; margin: 20px 0; }
.tabs .tab {
  cursor: pointer;
  padding:10px 20px;
  margin:0 2px -1px;
  background:#fff;
  display:inline-block;
  color:#909f9d;
  border-radius: 5px 5px 0 0;
  border: none;
  border-bottom: 1px solid #73E0CF;
}

.panel{
  animation: fadein .8s;
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.tabs .tab.active {
  border-top: 3px solid #73E0CF;
  border-left: 1px solid #73E0CF;
  border-right: 1px solid #73E0CF;
  border-bottom: 1px solid white!important;
}

.idp-url-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 240px;
  margin-right: -25px;
}

table {
  display: block;

  th:last-child label{ margin-right: 17px; }
  th, td {
    width: 26%;
    border-bottom: 1px solid #cfd2d3;
    font-size: 10px;

    button {
      width: 28px!important;
      height: 28px!important;
      padding: 0!important;
      margin-left: 8px;
      color: white;
    }
    button:hover {
      color: #73E0CF;
    }
  }
  th:first-child, td:first-child {
    width: 77%!important;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    padding: 10px 5px;
  }
}
